* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Unna', serif;
}
:root {
    --bg: #0e0e0e;
    --footer-color: #131313;
    --header-color: #404040;
    --distorted-bg: #131313;
    --noise: #ffffff;
}
body {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004) !important;
    background-repeat: repeat;
    background-color: var(--bg);
    position: relative;
    &::before {
        content: '';
        background-image: url(./images/grain.png);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 55%;
        z-index: -1;
    }
    &::after {
        content: '';
        position: fixed;
        top: -50%;
        left: -50%;
        right: -50%;
        bottom: -50%;
        width: 200%;
        height: 200vh;
        background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
        background-repeat: repeat;
        animation: bg-animation 0.2s infinite;
        opacity: 1;
        visibility: visible;
    }

    @keyframes bg-animation {
        0% {
            transform: translate(0, 0);
        }
        10% {
            transform: translate(-5%, -5%);
        }
        20% {
            transform: translate(-10%, 5%);
        }
        30% {
            transform: translate(5%, -10%);
        }
        40% {
            transform: translate(-5%, 15%);
        }
        50% {
            transform: translate(-10%, 5%);
        }
        60% {
            transform: translate(15%, 0);
        }
        70% {
            transform: translate(0, 10%);
        }
        80% {
            transform: translate(-15%, 0);
        }
        90% {
            transform: translate(10%, 5%);
        }
        100% {
            transform: translate(5%, 0);
        }
    }
}

img {
    object-fit: cover;
    max-width: 100%;
    filter: grayscale(1);
}

#lighthouse2 {
    object-position: 0% 10%;
}

.tall-elem {
    min-height: 54.75rem;
}
.elem__container,
.elem {
    max-width: 50.0625rem;
}

.elem:not(.tall-elem) {
    max-width: 50.0625rem;
    img {
        min-height: 680px;
    }
}

a:active,
a:focus {
    outline: none;
}
.container__grid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
    gap: 6rem;
}

.container__grid:last-child {
    margin-bottom: 6rem;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 80%;
    margin: auto;
    .elem {
        width: 47%;
    }
    h3 {
        margin-bottom: 1.2rem;
    }
    img {
        aspect-ratio: 4/3;
    }
}

col {
    max-width: 27vw;
}

h1,
span {
    font-size: 6rem;
    font-size: max(5.5rem, 5vw) !important;
    color: var(--header-color);
    font-weight: 200;
    margin-top: 9rem;
    text-shadow: 0.03em 0.03em 0.1em var(--header-color);
}
h1 {
    span {
        margin-left: 3.6rem;
    }
}
h3 {
    font-size: 2.82rem;
    letter-spacing: 0.1rem;
    line-height: 4rem;
}
h4 {
    font-size: 1.875rem;
}
p {
    font-size: 1.35rem;
    line-height: 1.6rem;
    font-weight: 100;
    letter-spacing: 0.14rem;
    margin-bottom: 1rem;
}
.italic {
    font-style: italic;
}
a {
    font-size: 1.35rem;
    color: white;
    cursor: pointer;
    display: block;
    &:hover {
        font-weight: 800;
    }
}

header {
    height: 97.7rem;
    position: relative;
    h1 {
        position: absolute;
        z-index: 1000;
        top: 22rem;
        left: 16%;
    }
    width: 100%;
    .header__image-container {
        // background-image: url(./images/anivaVeryLarge.jpg);
        background-image: url(./images/Mask\ lighthouse.png);
        background-repeat: no-repeat;
        position: relative;
        height: 133.9375rem;
        max-width: 100%;
        background-position-x: 100%;
        // background-position-y: -1385px;
        background-position-y: -86.5625rem;
        filter: grayscale(0.5);
    }
}
img.ripped {
    position: relative;
    width: 100%;
}

img.full-width {
    width: 100%;
    margin-bottom: 6rem;
}

footer {
    width: 100%;
    background-color: var(--footer-color);
    padding: 6rem 0 4.1rem 0;
    img {
        aspect-ratio: unset;
        object-fit: none;
    }
    .container__grid {
        justify-content: space-between;
        margin: 0 11vw 0 11vw;
        width: min(106.25rem, 80%);
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        align-items: baseline;
        margin-bottom: 0 !important;
        .footer__legal--col {
            margin-top: -2rem;
            max-width: 58ch;
            .footer__legal__logo {
                margin-left: 0.5rem;
                margin-bottom: 1rem;
                h2 {
                    font-size: 4.3rem;
                    margin-right: 1rem;
                }
            }
            .footer__company-info p {
                margin-bottom: 0.5rem;
            }
        }
        .footer__links__navigate--col {
            margin-right: 2rem;
            a {
                margin-bottom: 1rem;
            }
        }
        .footer__social--col {
            img {
                margin-right: 1.1rem;
            }
            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .footer__social--col--row {
                margin: 0.55rem 0;
                cursor: pointer;
            }
        }
        h4 {
            margin-bottom: 1.7rem;
        }
    }
}

///////Media queries/////

@media only screen and (max-width: 75em) {
    body .container__grid .footer__legal--col {
        max-width: 100%;
    }
    body .footer .container__grid {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 93.75rem) {
    body h1 {
        left: 5%;
    }
}

@media only screen and (max-width: 100em) {
    .container__grid {
        flex-wrap: wrap;
    }
    .container__grid.lighthouse {
        flex-wrap: wrap-reverse;
    }

    .container .lighthouse .elem,
    .container .elem {
        width: unset;
        max-width: unset;
        width: 801px !important;
        img {
            width: 56.125rem;
        }
    }
}
